# Ignorar variables de entorno
.env

# Ignorar cachés de Python
__pycache__/
*.pyc

# Ignorar notebooks temporales
.ipynb_checkpoints/

# Ignorar datasets pesados
data/*.csv

#Ignorar archivos de RStudio y iOS
.DS_Store
.Rhistory